@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: skyblue;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.9;
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
ol {
  margin-left: 70px;
}

ol li  {
  font-size: 30px;
  padding: 10px;
  color: black;
  
}
ol li a abbr {
  text-decoration: none;
}
 
ol li a  {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
ol li a:hover {
  color: blue;
}
 



